<% if user.user_subjects.any? %>
  <% user.user_subjects.each do |user_subject| %>
    <% if user_subject.user_tasks.any? %>
      <% user_subject.course_subject.subject.tasks.each do |task| %>
        <td>
          <%= find_user_task(user_subject, task) ? t(".finised") : t("
            .not_finised") %>
        </td>
      <% end%>
    <% else %>
      <td></td>
    <% end %>
  <% end %>
<% else %>
  <td></td>
<% end %>
