<div class="wrapper">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
      <div class="form-panel top_line">
        <div class="form-header">
          <h2><%= t "user.edit" %></h2>
        </div>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
